{% extends 'dashbase.html' %}

{% block main %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'userDash' %}">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div class="col-lg timeline">
        <!-- timeline  -->
        
        <!-- End timeline  -->
    </div>
</main>
{% endblock main %}